html {
	height: 100%;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100%;
	margin: 0;
	font-family: "Open Sans Condensed", Arial;
	letter-spacing: 4px;
	background: url(img/bg.jpg) no-repeat 0 50%;
	background-size: cover;
	background-color: #000;
	color: #fff;
	font-variant-ligatures: none;
}

.container {
	position: relative;
	margin: 0 auto;
	width: 90%;
	max-width: 1420px;
	display: flex;
	justify-content: space-around;
	z-index: 1;
}

.what, .infos {
	width: 30%;
}

.infos img {
	width: 100%;
}

.infos h2 {
	font-weight: 300;
	text-align: center;
	font-size: 32px;
}

@media only screen and (max-width: 720px) {
	.container {
		display: block;
		width: 80%;
	}


	.what, .infos {
		width: 100%;
	}
}
