html {
	height: 100%;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100%;
	margin: 0;
	font-family: "Open Sans Condensed", Arial;
	background: url(img/bg.jpg) no-repeat 0 50%;
	background-size: cover;
	background-color: #000;
	color: #fff;
	font-variant-ligatures: none;
}

.container {
	position: relative;
	margin: 0 auto;
	width: 90%;
	max-width: 1420px;
	display: flex;
	justify-content: space-around;
	z-index: 1;
}

.what, .infos {
	width: 40%;
}

.infos {
	text-align: center;
}

.infos img {
	width: 70%;
}

.infos h1 {
	margin: 32px 0 46px;
	display: inline-block;
	padding: 6px 22px;
	font-size: 22px;
	border: solid 2px #fff;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.infos ul {
	margin: 0;
	padding: 0;
	display: flex;
	list-style: none;
	justify-content: space-around;
}

.infos li {
	padding: 0;
	margin: 0;
}

.infos a {
	color: inherit;
	font-weight: 300;
	font-size: 22px;
	letter-spacing: 4px;
	text-decoration: none;
}

.infos svg {
	margin-right: 12px;
	height: 22px;
	width: auto;
	vertical-align: sub;
}

@media only screen and (max-width: 720px) {
	.container {
		display: block;
		width: 80%;
	}


	.what, .infos {
		width: 100%;
	}

	body .glitch__img {
		background-position: right center;
		background-size: cover;
	}


	.infos ul {
		justify-content: space-between;
	}

	.infos h1 {
		font-size: 18px;
	}

	.infos a {
		font-size: 18px;
	}
}
