body{
	background:#444;
	font-family:Helvetica,Arial;
	font-size:14px;
}

.clearBoth{
	clear: both;
}

h1 {
	display: block;
	padding: 10px;
	text-align: center;
	color: #aa0000;
	text-decoration: underline;
}

p {
	font-size: 2em;
	color: #efefef;
	text-align: center;
}

div {
	width: 40%;
	margin: 10px auto;
}

img {
	width: 100%;
	height: auto;
}
