body{
	background:#100000;
	font-family:Helvetica,Arial;
}

.clearBoth{
	clear: both;
}

h1 {
	display: block;
	padding: 10px;
	font-size: 2.5em;
	text-align: center;
	font-weight: bold;
	color: #aa0000;
}

p {
	font-size: 2em;
	color: #eee;
	text-align: center;
}

div {
	width: 40%;
	margin: 10px auto;
}

img {
	width: 100%;
	height: auto;
}
